<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASSFEED | 클래스</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5a210d3256.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/sign.css">
    <script src="js/sign.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
    <header id="header" class="outerWrap">

        <button type="button" class="sideMenuBtn clickAniBtn toolTipWrap">
            <img src="img/sideMenuBtn.svg">
            <p class="toolTipBot">사이드메뉴</p>

        </button>
        <a href="" class="homeLink">
            <img src="img/classfeedLogo.png">
        </a>

        <div class="rightBtnWrap">
            <button class="memberSwitch">선생님모드</button>

            <button type="button" class="feedCenter clickAniBtn toolTipWrap">
                <b class="feedDot"></b>
                <img src="img/feedCenter.svg">
                <p class="toolTipBot">알림센터</p>

            </button>

            <a href="#" class="mypageLink toolTipWrap">
                <img src="img/defaltProfile.png">
                <p class="toolTipBot toolTipBot2">마이페이지</p>
            </a>
        </div>

        <!-- <div class="innerWrap">
            
        </div> -->

    </header>
    <nav class="sideNav">
        <a href="" class="sideNavLink toolTipWrap on">
            <i class="fas fa-chalkboard-teacher"></i>
            <p class="toolTipBot">클래스</p>
        </a>

        <a href="" class="sideNavLink toolTipWrap">
            <i class="fas fa-archive"></i>
            <p class="toolTipBot">수업보관함</p>
        </a>
    </nav>


    <div class="sideMenuWrap"></div>

    <nav class="sideMenu">
        <a href="" class="mainLink on">
            <i class="fas fa-chalkboard-teacher"></i>
            <p>클래스</p>
        </a>
        <a href="" class="mainLink">
            <i class="fas fa-archive"></i>
            <p>수업보관함</p>
        </a>
        <div class="classList">
            <p class="classListTitle">나의 수업</p>
            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍 - 클래스와 메쏘드 심화과정</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>

            <a href="" class="classLink">
                <p>JAVA 기초 프로그래밍</p>
                <b>김형수 선생님</b>
            </a>
            <a href="" class="classLink">
                <p>공학수학 1단원</p>
                <b>이공학 선생님</b>
            </a>
            
        </div>

    </nav>


    <nav class="feedCenterBox">
        <p class="feedTitle"><span>알림센터</span><i class="fas fa-times feedCenterClose"></i></p>
        <div class="feedList">
            <!-- <p class="noListMsg">알림이 없습니다.</p> -->
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
            <a href="" class="feedMsg">
                <p>새로운 과제가 등록되었습니다.</p>
                <div><span>JAVA 기초 프로그래밍 클래스와 메쏘드 심화과정</span><p>김형수 선생님</p></div>
            </a>
        </div>

    </nav>

    <!--우하단 + 버튼, 학생-->
    <nav class="classAddBtn toolTipWrap clickAniBtn modalBtn stuSample" data-modal="adMission">
        <i class="fas fa-plus"></i>
        <p class="toolTipTop">클래스 참여</p>
    </nav>

    <!--우하단 + 버튼, 선생님-->
    <nav class="classAddBtn toolTipWrap clickAniBtn modalBtn teaSample" data-modal="addClass">
        <i class="fas fa-plus"></i>
        <p class="toolTipTop">새 클래스 만들기</p>
    </nav>

    <!--우하단 + 버튼시 모달, 학생-->
    <div class="modalWrap" data-modal="adMission">
        <div class="modalCon">
            <p class="modalTitle">
                <span>클래스 참여</span>
                <i class="fas fa-times modalClose"></i>
            </p>
            <div>
                <p class="subTitle">인증코드 입력</p>
                <div class="inpWrap">
                    <input type="text" class="inp">
                    <div class="inpBar"></div>
                </div>
                <p class="msg">* 인증코드는 영문 혹은 숫자 조합이며, 대소문자를 구분합니다.</p>

                <div class="btnWrap">
                    <button type="button" class="adMissionBtn pointBtn">참여하기</button>
                </div>

            </div>
        </div>
    </div>

    <!--우하단 + 버튼시 모달 선생님-->
    <div class="modalWrap" data-modal="addClass">
        <div class="modalCon">
            <p class="modalTitle">
                <span>새 클래스 만들기</span>
                <i class="fas fa-times modalClose"></i>
            </p>
            <div>
                <p class="subTitle">제목</p>
                <div class="inpWrap">
                    <input type="text" class="inp">
                    <div class="inpBar"></div>
                </div>

                <p class="subTitle">부제목</p>
                <div class="inpWrap">
                    <input type="text" class="inp">
                    <div class="inpBar"></div>
                </div>


                <div class="btnWrap">
                    <button type="button" class="adMissionBtn pointBtn">만들기</button>
                </div>

            </div>
        </div>
    </div>


    <!-- jsp 에서 해당수업의 색상을 불러와야함 -->
    
    <style>

    </style>
    <div class="contentWrap">
        <div class="innerWrap">
            <div class="conTabWarp">
                <a href="" class="conTab on">스트림</a>
                <a href="" class="conTab">수업</a>
                <a href="" class="conTab">사용자</a>
            </div>

            <div class="titleBox">
                <p class="title">1학년 1반 수업이에용</p>
                <p class="school">코스모고등학교</p>
                <p class="teacher">김현순</p>

            </div>
            <div class="streamConBox">
                <div class="homeWorkBox">
                    <p class="title">곧 마감되는 과제</p>
                    <p class="noWork">기한이 곧 돌아오는 과제가 없습니다.</p>
                </div>
                <div class="streamCardWrap">
                    <div class="streamCard noticeCard">
                        <div class="iconCircle">
                            <i class="fas fa-bullhorn"></i>
                        </div>
                        <p class="title">학생들에게 공지할 내용을 입력하세요.</p>
                        <div class="textAreaWrap">
                            <textarea name="" id="">안녀하세요. 이렇게 내용을 미리 써둬봅시다...</textarea>
                            <div class="btnWrap">
                                <button class="cancleBtn">취소</button>
                                <button class="submitBtn">등록</button>
                            </div>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 수업을 게시 : 1학기 수학 입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 과제를 게시 : 1학기 수학 과제입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 수업을 게시 : 1학기 수학 입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 과제를 게시 : 1학기 수학 과제입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 수업을 게시 : 1학기 수학 입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 과제를 게시 : 1학기 수학 과제입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 수업을 게시 : 1학기 수학 입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 과제를 게시 : 1학기 수학 과제입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 수업을 게시 : 1학기 수학 입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                    <div class="streamCard">
                        <div class="iconCircle">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="" class="text">
                            <p class="title">김현순 님이 새 과제를 게시 : 1학기 수학 과제입니다.</p>
                            <p class="date">2021.08.16.</p>
                        </a>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="moreWrap">
                            <a href="javascript:void(0)" class="saveClass" data-class="">보관</a>
                            <a href="javascript:void(0)" class="editClass" data-class="">수정</a>
                            <a href="javascript:void(0)" class="deleteClass" data-class="">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
<script>

    //클래스카드 모어버튼
    $(document).on('click', '.streamCard .moreBtn', function(){
        $(this).siblings('.moreWrap').toggleClass('on')
    })


    // 색상랜더무요....
    function randomNum(min, max){ 
        var randNum = Math.floor(Math.random()*(max-min+1)) + min; return randNum;
    }

    var colors = ['#F23830','#E51056','#9114A3','#5B2AA8','#3843A9','#2088ED', '#0C9DEF', '#07B3CD','#038C7D', '#43A84D','#80BE4B','#FF8E1F','#FF4B23','#6E4B40','#56717F'];


    //색상랜덤... 삭제예정.....
    var thisColor = colors[randomNum(0, colors.length-1)];
    
    $('.titleBox').css({
        'background-color':thisColor
    })
    $('.streamCard .iconCircle').css({
        'background-color':thisColor
    })
    $('.textAreaWrap>textarea').css({
        'background-color':thisColor+10,
    })
    $('.submitBtn').css({
        'background-color':thisColor,
    })




    $(document).on('click', '.streamCard.noticeCard .title', function(){
        $('.streamCard.noticeCard').addClass('on');
        $('.textAreaWrap textarea').focus();
    })
    $(document).on('click','.textAreaWrap .cancleBtn', function(){
        $('.streamCard.noticeCard').removeClass('on')
    })

</script>
</html>