<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.BoardMapper">

    <select id="selectBoardBySucode" resultType="BoardVo" parameterType="String">
        select * from board where thcode in(select thcode from THEME where sucode=#{sucode})
    </select>





























    <insert id="insertNotFile" parameterType="BoardVo">
        insert into board values(SEQ_BOARD.nextval,#{tid},#{thcode},#{btitle},
                                 #{bcontent},SYSDATE,#{bdeadline},null,null,#{sucode})
    </insert>

    <insert id="insertOkFile" parameterType="BoardVo">
        insert into board values(SEQ_BOARD.nextval,#{tid},#{thcode},#{btitle},
                                 #{bcontent},SYSDATE,#{bdeadline},#{bfname},#{bfsize},#{sucode})
    </insert>


    <insert id="insertBoardOkFile" parameterType="BoardVo">
        insert into board values(SEQ_BOARD.nextval,#{tid},#{thcode},#{btitle},
                                 #{bcontent},SYSDATE,null,#{bfname},#{bfsize},#{sucode})
    </insert>

    <insert id="insertBoardNotFile" parameterType="BoardVo">
        insert into board values(SEQ_BOARD.nextval,#{tid},#{thcode},#{btitle},
                                 #{bcontent},SYSDATE,null,null,null,#{sucode})
    </insert>

    <select id="boardSelectAll" resultType="BoardVo" parameterType="String">
        select * from board where tid = #{tid} and sucode = #{sucode}
    </select>

    <select id="boardSelectClass" resultType="BoardVo" parameterType="String">
        select * from board where sucode = #{sucode} order by brdate desc
    </select>

    <select id="selectBySucode" resultType="BoardVo" parameterType="String">
        select * from board where thcode in(select thcode from THEME where sucode=#{sucode})
    </select>

    <select id="boardSelectTid" resultType="String" parameterType="long">
        select tid from board where bseq = #{bseq}
    </select>

    <select id="boardSelectBySeq" resultType="BoardVo" parameterType="long">
        select * from board where bseq = #{bseq}
    </select>

    <delete id="deleteBySeq" parameterType="long">
        delete board where bseq = #{bseq}
    </delete>

    <select id="getBoard" resultType="BoardVo" parameterType="long">
        select * from board where bseq=#{bseq}
    </select>

    <update id="boardUpdate" parameterType="BoardVo">
        update board set btitle=#{btitle}, bcontent=#{bcontent} where bseq = #{bseq}
    </update>



</mapper>