<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.NoticeMapper">

    <insert id="insertByStu" parameterType="NoticeVo">
        insert into notice values(SEQ_NOTICE.nextval,SYSDATE,#{ncontent}, NULL , #{sid}, #{sucode})
    </insert>

    <insert id="insertByTeacher" parameterType="NoticeVo">
        insert into notice values(SEQ_NOTICE.nextval,SYSDATE,#{ncontent}, #{tid} , NULL, #{sucode})
    </insert>

    <select id="selectBySucode" resultType="NoticeVo" parameterType="String">
        select * from notice where sucode = #{sucode} order by nseq desc
    </select>

    <delete id="deleteByNseqS" parameterType="long">
        delete notice where nseq = #{nseq}
    </delete>




</mapper>