<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.NoticeMapper">

    <select id="selectNoticeBySucode" resultType="NoticeVo" parameterType="String">
        select * from notice where sucode = #{sucode} order by nseq desc
    </select>

    <insert id="insertNoticeByTeacher" parameterType="NoticeVo">
        insert into notice values(SEQ_NOTICE.nextval,SYSDATE,#{ncontent}, #{tid} , NULL, #{sucode})
    </insert>

    <insert id="insertNoticeByStudent" parameterType="NoticeVo">
        insert into notice values(SEQ_NOTICE.nextval,SYSDATE,#{ncontent}, NULL , #{sid}, #{sucode})
    </insert>

    <delete id="deleteNoticeBynSeqS" parameterType="long">
        delete notice where nseq = #{nseq}
    </delete>























    <select id="selectBySucode" resultType="NoticeVo" parameterType="String">
        select * from notice where sucode = #{sucode} order by nseq desc
    </select>






</mapper>