<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.SubjectMapper">

	<select id="selectSubjectByTid" resultType="SubjectVo" parameterType="String">
		select * from subject where tid = #{tid}
	</select>


	<select id="selectSubjectBySucode" resultType="SubjectVo" parameterType="String">
		select
			b.*
		from
			class a
			inner join subject b
			on(a.sucode = b.sucode)
	</select>

	<update id="updateSubjectKeepOn" parameterType="String">
		update subject set skeep=#{skeep} where sucode = #{sucode}
	</update>

	<update id="updateSubjectKeepOff" parameterType="String">
		update subject set skeep=#{skeep} where sucode = #{sucode}
	</update>

























	<select id="selectSuname" resultType="String" parameterType="String">
		select suname from subject where sucode = #{sucode}
	</select>

	<select id="selectBySucode" resultType="String" parameterType="String">
		select sucode from subject where sucode = #{sucode}
	</select>

	<select id="selectBySkeep" resultType="String" parameterType="String">
		select skeep from subject where sucode = #{sucode}
	</select>

	<select id="selectAll" resultType="SubjectVo" parameterType="String">
		select * from subject where sucode = #{sucode}
	</select>

	<select id = "selectTname" resultType="TeacherVo" parameterType="String">
		select tname from teacher where tid in(select tid from subject where sucode=#{sucode})
	</select>

	<insert id="suinsert" parameterType="SubjectVo">
		insert into subject values(#{sucode},#{tid},#{tname},#{suname},#{ssubname},default)
	</insert>


	<select id="testAll" resultType="SubjectVo" parameterType="String">
		select * from subject where sucode = #{sucode}
	</select>


	<select id="selectBytid" resultType="SubjectVo" parameterType="String">
		select * from subject where tid = #{tid}
	</select>

	<select id="selectTid" resultType="String" parameterType="String">
		select tid from subject where sucode = #{sucode}
	</select>




</mapper>