<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.TeacherMapper">

	<select id="countTeacherByTid" resultType="int" parameterType="String">
		select count(*) from teacher where tid = #{tid}
	</select>

	<select id="selectTeacherByTid" resultType="TeacherVo" parameterType="String">
		select * from teacher where tid = #{tid}
	</select>












	<select id="tlogin" resultType="TeacherVo" parameterType="String">
		select * from teacher where tid = #{arg0} and tpwd = #{arg1} 
	</select>

	<select id="tlnfo" resultType="TeacherVo" parameterType="String">
		select * from teacher where tid = #{tid}
	</select>
	
	<select id="tidck" resultType="String" parameterType="String">
		select tid from teacher where tid = #{tid}
	</select>

	<select id="temailck" resultType="String" parameterType="String">
		select temail from teacher where temail = #{temail}
	</select>

	<select id="tNameCk" resultType="TeacherVo" parameterType="String">
		select * from teacher where tid = #{tid}
	</select>
	
	<insert id="tinsert" parameterType="TeacherVo">
		insert into teacher values(#{tid}, #{tpwd}, #{tname}, #{tphonenumber},#{temail}, #{tagency}, SYSDATE)
	</insert>

	<select id="tname" resultType="String" parameterType="String">
		select tname from teacher where tid=#{tid}
	</select>




</mapper>