<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.project.mapper.ThemeMapper">

	<select id="selectByThcode" resultType="String" parameterType="String">
		select thcode from theme where thcode = #{thcode}
	</select>
	
	<select id="selectAll" resultType="ThemeVo" parameterType="String">
		select * from Theme where thcode = #{thcode}
	</select>
	
	<insert id ="thinsert"  parameterType="ThemeVo">
		insert into theme values(#{thcode}, #{tid}, #{sucode}, #{thname}, SYSDATE) order by trdate asc
	</insert>
	
	<select id="selectBysucode" resultType="ThemeVo" parameterType="String">
		select * from theme where sucode = #{sucode} order by sucode desc
	</select>

	<select id="selectByTid" resultType="ThemeVo" parameterType="String">
		select * from theme where tid=#{tid} and sucode=#{sucode}
	</select>

	<select id="selectAllClass" resultType="ThemeVo" parameterType="String">
		select * from theme where sucode=#{sucode}
	</select>
	
	
</mapper>
	 